# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Project specific
*.log
*.xlsx
output/

# uv
.uv/
uv.lock
Lab 4 Answers NB.Rmd
lab_example_answers.ipynb
